
   @import url('https://fonts.googleapis.com/css?family=Mulish');

:root{
    --main-color-dark1: #004a7c;
    --main-color-dark2: #005691;
    --main-color-dark3: #e8f1f5;
    --main-color-dark4: #fafafa;
    }

 

html,body{
    margin:0;
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    height: 100%;
    background: rgb(250,250,250);
    background: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(232,241,245,1) 59%, rgba(0,74,124,1) 100%);
}